/* ---------------------------------------------------------------------- */
/*  Datepicker
/* ---------------------------------------------------------------------- */
.picker__box {
    border-color: $white !important;
}

.picker__nav--prev:before, .picker__nav--next:before {
    border: none !important;
    display: block;
    height: auto !important;
    margin: 0 auto;
    width: auto !important;
    font-family: 'themify';
}

.picker__nav--next:before {
    content: "\e649" !important;
}

.picker__nav--prev:before {
    content: "\e64a" !important;
}

.picker__button--close:before {
    content: "\e646" !important;
    font-family: 'themify';
}

.picker__button--clear:before {
    border: none !important;
    top: auto !important;
    width: auto !important;
    font-family: 'themify';
    content: "\e6a5" !important;
    font-size: 1.1em;
}

.picker__weekday {
    color: $primary !important;
    text-align: center;
}

[pick-a-date], [pick-a-time] {
    cursor: pointer !important;
}

[date-picker] {
    padding: 5px 20px !important;
    min-width: 230px;
}

[date-picker] th {
    color: $primary;
    font-weight: bold;
}

[date-picker] .switch {
    color: $text-dark;
}

[date-picker] .active, [date-picker] .now {
    background-color: $primary !important;
    background-image: none !important;
    border: none !important;
    text-shadow: none !important;
    color: $white !important;
}

[date-picker] .now {
    background-color: $white !important;
    color: $primary !important;
    font-weight: bold;
}

[date-picker] .active:hover, [date-picker] .now:hover, [date-picker] .active:active, [date-picker] .now:active, [date-picker] .active.active, [date-picker] .now.active, [date-picker] .active.disabled, [date-picker] .now.disabled, [date-picker] .active[disabled], [date-picker] .now[disabled] {
    color: $white !important;
    background-color: $primary !important;
}

[date-picker] .disabled {
    color: $text-light !important;
}

[date-picker] .disabled.active, [date-picker] .disabled.now {
    color: $white !important;
}
