/* ---------------------------------------------------------------------- */
/*  Login
/* ---------------------------------------------------------------------- */

.main-login {
    margin-top: 0;
    position: relative;

    @media (max-width: $screen-sm-max) {
        margin-top: $header-height;
    }

    .logo {
        padding: 0 10px;
    }

    .box-login, .box-forgot, .box-register {
        background: #FFFFFF;
        border-radius: 5px;
        overflow: hidden;
        padding: 15px;
        margin: 15px 0 65px 0;
    }

    .form fieldset {
        border: none;
        margin: 0;
        padding: 10px 0 0;
    }

    a.forgot {
        color: #909090;
        font-size: 12px;
        position: absolute;
        right: 10px;
        text-shadow: 1px 1px 1px #FFFFFF;
        top: 9px;
    }

    input.password {
        padding-right: 130px;
    }

    label {
        color: #7F7F7F;
        font-size: 14px;
        margin-top: 5px;
    }

    .copyright {
        font-size: 11px;
        margin: 0 auto;
        padding: 10px 10px 0;
        text-align: center;
    }

    .form-actions:before, .form-actions:after {
        content: "";
        display: table;
        line-height: 0;
    }

    .form-actions:after {
        clear: both;
    }

    .form-actions {
        margin-top: 15px;
        padding-top: 10px;
        display: block;
    }

    .new-account {
        border-top: 1px dotted #EEEEEE;
        margin-top: 15px;
        padding-top: 10px;
        display: block;
    }
}
/* ---------------------------------------------------------------------- */
/*  Lock Screen
/* ---------------------------------------------------------------------- */
.lock-screen {
    margin: -150px 0 0 -100px;
    width: 200px;
    left: 50%;
    position: absolute;
    top: 50%;
}

.lock-screen .box-ls {
    overflow: hidden;
    text-align: center;
}

.lock-screen .user-info {
    margin: 10px 0;
}

.lock-screen .user-info h4 {
    color: #666666;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-top: 0;
}

.lock-screen .user-info > span {
    color: #666666;
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}
