/* ---------------------------------------------------------------------- */
/*  Messages
/* ---------------------------------------------------------------------- */
.panel-body.messages {
    padding: 0;
}

.messages-list {
    border-right: 1px solid lighten($lightGrey,20%);
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    top: 65px;
    bottom: 0;

    .messages-item {
        border-bottom: 1px solid $grey;
        padding: 5px 15px 5px 25px;
        position: relative;

        &:hover {
            background-color: lighten($lightGrey,30%);
            cursor: pointer !important;

            .messages-item-star {
                @include opacity(0.3);
            }
        }

        &.active {
            background-color: lighten($lightGrey,28%);
        }

        &.starred .messages-item-star {
            display: block;
            @include opacity(1);
        }

        span {
            color: $primary;
            display: block;

            .spam {
                font-style: normal;
            }
        }

        .messages-item-star, .messages-item-attachment, .messages-item-time, .messages-item-actions {
            position: absolute;
        }

        .messages-item-star {
            color: $primary;
            left: 7px;
            @include opacity(0);
            @include transition(opacity, .3s, ease-in-out 0s);

            &:hover, &:active, &:focus {
                @include opacity(1);
            }
        }

        .messages-item-attachment {
            left: 7px;
            top: 25px;
            color: $blue;
        }

        .messages-item-avatar {
            border-radius: 4px;
            float: left;
            height: 40px;
            width: 40px;
        }

        .messages-item-from, .messages-item-subject, .messages-item-content {
            margin-left: 45px;
        }

        .messages-item-from {
            font-weight: bold;
            margin-top: 2px;
            color: $darkGrey;
        }

        .messages-item-time {
            right: 15px;
            top: 8px;

            .text {
                color: $text-color;
                font-size: $font-size-extra-small;
            }

            .messages-item-actions {
                @include opacity(0);
                right: 0;
                top: 0;
                @include transition(opacity, .3s, ease-in-out 0s);
                width: 65px;

                > a, .dropdown > a {
                    margin-left: 5px;
                }

                > div {
                    display: inline-block;
                }

                .dropdown-menu {
                    margin-top: 0;
                }

                .tag-icon {
                    border-radius: 30px;
                    display: inline-block;
                    height: 11px;
                    margin: 0 5px 0 -13px;
                    width: 11px;

                    &.red {
                        background: $red;
                    }

                    &.blue {
                        background: $blue;
                    }

                    &.green {
                        background: $green;
                    }
                }
            }
        }

        .messages-item-subject {
            font-size: $font-size-normal;
            margin-bottom: 4px;
            color: $text-dark;
        }

        .messages-item-content {
            font-size: $font-size-small;
            color: $text-light;
            margin-bottom: 4px;
        }

        .messages-item-preview {
            color: $darkGrey;
            font-size: $font-size-small;
        }
    }
}

.wrap-options {
    border-bottom: 1px solid $border-default;
    min-height: 65px;
}

.messages-search {
    padding: 15px;
    width: 100%;

    @media (max-width: $screen-lg-min) {
        display: none;
        position: absolute;
        top: 0;
    }
}

.message-actions {
    height: 65px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #EFEFF4;

    .actions {
        list-style: none;

        > li {
            float: left;
            height: 65px;
            position: relative;

            @media (max-width: $screen-xs-min) {
                display: none;
            }

            &:after {
                background: rgba(0, 0, 0, 0.07);
                content: "";
                height: 14px;
                position: absolute;
                right: -4px;
                top: 26px;
                width: 1px;
            }

            &.actions-dropdown {
                display: none;

                @media (max-width: $screen-xs-min) {
                    display: block;
                }
            }

            > a, > span > a {
                font-size: $font-size-small;
                font-weight: 600;
                line-height: 65px;
                padding: 0 13px;
                white-space: nowrap;
                color: $text-color;
            }

            &.email-list-toggle {
                display: none;

                @media (max-width: $screen-sm-min) {
                    display: block !important;
                }
            }
        }
    }
}

.message-header {
    border-bottom: 1px solid lighten($lightGrey,20%);
    padding: 75px 15px 10px;

    .message-item-avatar {
        border-radius: 4px;
        float: left;
        height: 50px;
        width: 50px;
        margin-right: 10px;
    }

    .message-from {
        font-weight: bold;
        color: $text-dark;
    }

    .message-to {
        color: $text-light;
    }

    .message-time {
        color: $text-light;
        font-size: $font-size-extra-small;
    }
}

.message-subject {
    padding: 20px 10px 0;
    color: $text-dark;
    font-size: $font-size-large;
}

.message-content {
    padding: 20px 10px;
    color: $text-color;
}

.inbox {
    border-spacing: 0;
    height: 100%;
    margin: 0 -15px;
}

.inbox .col {
    float: left;
    height: 100%;
    vertical-align: top;
}

.inbox .email-options {
    width: 240px !important;
    border-right: 1px solid #dee5e7;
    overflow: hidden;

    @media (max-width: $screen-lg-min) {
        display: none;
    }

    .email-options-title {
        color: #808285;
        font-size: 10px;
        letter-spacing: 0.2px;
        text-transform: uppercase;
    }

    .main-options {
        margin: 0;
        list-style: none;
        padding: 0;

        li {
            line-height: 34px;

            .badge {
                margin-top: 8px;
            }
        }
    }
}

.no-messages {
    bottom: 0;
    left: 0;
    margin-top: -34px;
    opacity: 0.5;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
}

.inbox {
    .email-list {
        width: 360px !important;
        border-right: 1px solid #dee5e7;
        background: $white;

        @media (max-width: $screen-sm-min) {
            width: 100% !important;
            border-right: none;
            background: $white;
            position: relative;
        }
    }

    &.message-open {
        @media (max-width: $screen-sm-min) {
        }
    }
}

.inbox .wrap-list {
    width: 359px;
    height: 100% !important;
    position: relative;

    .close-message-search {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 100;
        display: none;
    }

    .search-open {
        .close-message-search {
            display: block;
        }

        .open-message-search {
            display: none;
        }

        .messages-options .btn-group {
            display: none;
        }

        .messages-search {
            display: block !important;
            right: 50px;
            left: 0;
            width: auto;
        }
    }

    @media (max-width: $screen-sm-min) {
        width: 100% !important;
    }

    @media (min-width: $screen-lg-min) {
        .messages-options {
            display: none;
        }
    }
}

.inbox .email-reader {
    height: 100%;
    margin-left: 600px;
    overflow: hidden;
    position: relative;
    padding: 0;
    background: $white;

    @media (max-width: $screen-lg-min) {
        margin-left: 360px;
    }

    @media (max-width: $screen-sm-min) {
        margin-left: 0;
    }
}
/* ie8 fixes */
.ie8 .messages-list .messages-item .messages-item-star {
    display: none;
}

.ie8 .messages-list .messages-item:hover .messages-item-star {
    display: block;
}
/**/






/* ie8 fixes */
.ie8 .messages-list .messages-item .messages-item-time .messages-item-actions {
    display: none;
}

/**/






