/* ---------------------------------------------------------------------- */
/*  Calendar
/* ---------------------------------------------------------------------- */
.calAlert {
    width: 595px;
    float: right;
    margin-bottom: 5px;
}

.calXBtn {
    float: right;
    margin-top: -5px;
    margin-right: -5px;
}

.calWell {
    float: left;
    margin-bottom: 40px;
}

.fc-event.openSesame .fc-event-skin {
    background-color: rgb(229, 229, 11);
    color: black;
}

.fc-event.customFeed .fc-event-skin {
    background-color: rgb(132, 222, 175);
    color: black;
}

.calTools {
    margin-bottom: 10px;
}
