/* ---------------------------------------------------------------------- */
/*  Panels
/* ---------------------------------------------------------------------- */
.panel {
    background: none;
    @include box-shadow(none);
    @include border-radius(3px);
    color: $text-color;
    border: none;
    position: relative;

    .collapse-on {
        display: none;
    }

    .collapse-off {
        display: block;
    }

    &.collapses {
        .panel-body {
            display: none;
        }

        .collapse-on {
            display: block;
        }

        .collapse-off {
            display: none;
        }
    }
}

.panel-footer {
    position: relative;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: inherit;
    padding: 15px;
    background: none;
}

.panel-heading {
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 15px;
    min-height: 50px;

    .panel-heading-tabs {
        list-style: none;
        top: 0;
        right: 0;
        position: absolute;
        margin: 0;
        padding: 0;

        > li {
            float: left;
            padding: 0 15px;
            border-left-width: 1px;
            border-left-style: solid;
            border-left-color: inherit;
            height: 50px;
            line-height: 50px;

            &.panel-tools {
                position: relative;
                @include opacity(1);
                right: auto;
                top: auto;

                .tmp-tool {
                    right: 20px;
                    top: auto;
                }

                .dropdown {
                    line-height: normal;
                }
            }
        }
    }
}

.core-box {
    .heading {
        margin-bottom: 15px;
    }

    .core-icon {
        width: 33.3333%;
        left: 0;
        top: 0;
        bottom: 0;
        position: absolute;

        .icon-big {
            line-height: 80px;
        }
    }

    .core-content {
        margin-left: 33.3333%;
        min-height: 120px;
    }

    .heading {
        font-size: $font-size-small;
    }

    .title {
        font-size: 20px;
        line-height: 21px;
        margin-bottom: 0;
        font-weight: 400;
    }

    .subtitle {
        font-size: $font-size-normal;
        @include opacity(0.8);
    }

    .content {
        line-height: 20px;
        margin-bottom: 15px;
        position: relative;
        padding-left: 60px;

        .fa {
            font-size: 50px;
            left: 0;
            top: 0;
            position: absolute;
            width: 40px;
        }
    }

    .view-more {
        float: right;

        i {
            display: inline-block;
        }
    }
}

.panel-tools {
    position: absolute;
    right: 10px;
    top: 14px;
    font-size: 12px;

    i {
    }
}

.panel-portfolio {
    .portfolio-grid {
        padding: 0;
        text-align: center;
        overflow: hidden;
        max-height: 200px;
        position: relative;

        .item {
            overflow: hidden !important;
        }
    }

    .navigator {
        position: relative;
        text-align: center;
        margin-top: -40px;
        margin-bottom: 10px;
        z-index: 101;
    }
}

.panel-transparent, .partition-transparent {
    background: none;
    position: relative;
    box-shadow: none;
    ////@include background-image(linear-gradient(lighten($grey,5%) 0px, $grey 100%);
    color: $text-dark;

    .panel-tools {
        .btn, > a {
            color: rgba(darken($grey,50%), 0.7) !important;

            &:hover {
                color: darken($grey,50%) !important;
            }
        }
    }
}

.panel-primary, .partition-primary {
    background-color: $primary;
    position: relative;
    ////@include background-image(linear-gradient(lighten($grey,5%) 0px, $grey 100%);
    color: $white;

    .panel-heading {
        background-color: $primary;
        border: none;
    }

    .panel-tools {
        .btn, > a {
            color: rgba($white,0.8) !important;

            &:hover {
                color: $white !important;
            }
        }
    }
}

.panel-light-primary, .partition-light-primary {
    background-color: $lightPrimary;
    position: relative;
    ////@include background-image(linear-gradient(lighten($grey,5%) 0px, $grey 100%);
    color: $white;

    .panel-heading {
        background-color: $lightPrimary;
        border: none;
    }

    .panel-tools {
        .btn, > a {
            color: rgba($white,0.8) !important;

            &:hover {
                color: $white !important;
            }
        }
    }
}

.panel-dark-primary, .partition-dark-primary {
    background-color: $darkPrimary;
    position: relative;
    ////@include background-image(linear-gradient(lighten($grey,5%) 0px, $grey 100%);
    color: $white;

    .panel-heading {
        background-color: $darkPrimary;
        border: none;
    }

    .panel-tools {
        .btn, > a {
            color: rgba($white,0.8) !important;

            &:hover {
                color: $white !important;
            }
        }
    }
}

.panel-grey, .partition-grey {
    background-color: $grey;
    position: relative;
    ////@include background-image(linear-gradient(lighten($grey,5%) 0px, $grey 100%);
    color: darken($grey,50%);

    .panel-tools {
        .btn, > a {
            color: rgba(darken($grey,50%), 0.7) !important;

            &:hover {
                color: darken($grey,50%) !important;
            }
        }
    }
}

.panel-light-grey, .partition-light-grey {
    background-color: $lightGrey;
    position: relative;
    ////@include background-image(linear-gradient(lighten(lighten($grey,30%),5%) 0px, lighten($grey,30%) 100%);
    color: $text-color;

    .panel-tools {
        .btn, > a {
            color: rgba($text-color, 0.7) !important;

            &:hover {
                color: $text-color !important;
            }
        }
    }
}

.panel-orange, .partition-orange {
    background-color: $orange;
    position: relative;
    ////@include background-image(linear-gradient(lighten($orange,5%) 0px, $orange 100%);
    color: $white;

    .panel-tools {
        .btn, > a {
            color: rgba($white, 0.7) !important;

            &:hover {
                color: $white !important;
            }
        }
    }
}

.panel-purple, .partition-purple {
    background-color: $purple;
    position: relative;
    ////@include background-image(linear-gradient(lighten($purple,5%) 0px, $purple 100%);
    color: $white;

    .panel-tools {
        .btn, > a {
            color: rgba($white, 0.7) !important;

            &:hover {
                color: $white !important;
            }
        }
    }
}

.panel-pink, .partition-pink {
    background-color: $pink;
    position: relative;
    ////@include background-image(linear-gradient(lighten($pink,5%) 0px, $pink 100%);
    color: $white;

    .panel-tools {
        .btn, > a {
            color: rgba($white, 0.7) !important;

            &:hover {
                color: $white !important;
            }
        }
    }
}

.panel-azure, .partition-azure {
    background-color: $azure;
    position: relative;
    ////@include background-image(linear-gradient(lighten($azure,5%) 0px, $azure 100%);
    color: $white;

    .panel-tools {
        .btn, > a {
            color: rgba($white, 0.7) !important;

            &:hover {
                color: $white !important;
            }
        }
    }
}

.panel-bricky, .partition-bricky {
    background-color: $bricky;
    position: relative;
    ////@include background-image(linear-gradient(lighten($bricky,5%) 0px, $bricky 100%);
    color: $white;

    .panel-tools {
        .btn, > a {
            color: rgba($white, 0.7) !important;

            &:hover {
                color: $white !important;
            }
        }
    }
}

.panel-green, .partition-green {
    background-color: $green;
    position: relative;
    //@include background-image(linear-gradient(lighten($green,5%) 0px, $green 100%);
    color: $white;

    .panel-tools {
        .btn, > a {
            color: rgba($white, 0.7) !important;

            &:hover {
                color: $white !important;
            }
        }
    }
}

.panel-red, .partition-red {
    background-color: $red;
    position: relative;
    //@include background-image(linear-gradient(lighten($red,5%) 0px, $red 100%);
    color: $white;

    .panel-tools {
        .btn, > a {
            color: rgba($white, 0.7) !important;

            &:hover {
                color: $white !important;
            }
        }
    }
}

.panel-blue, .partition-blue {
    background-color: $blue;
    position: relative;
    //@include background-image(linear-gradient(lighten($blue,5%) 0px, $blue 100%);
    color: $white;

    .panel-tools {
        .btn, > a {
            color: rgba($white, 0.7) !important;

            &:hover {
                color: $white !important;
            }
        }
    }
}

.panel-yellow, .partition-yellow {
    background-color: $yellow;
    position: relative;
    //@include background-image(linear-gradient(lighten($yellow,5%) 0px, $yellow 100%);
    color: $black;

    .panel-tools {
        .btn, > a {
            color: rgba($black, 0.7) !important;

            &:hover {
                color: $black !important;
            }
        }
    }
}

.panel-white, .partition-white {
    background-color: $white;
    position: relative;
    color: $text-dark;
    border: 1px solid rgba(0, 0, 0, 0.07);
}

.panel-dark, .partition-dark {
    background-color: $black;
    position: relative;
    ////@include background-image(linear-gradient(lighten($black,5%) 0px, $black 100%);
    color: $white;

    .panel-tools {
        .btn, > a {
            color: rgba($white, 0.7) !important;

            &:hover {
                color: $white !important;
            }
        }
    }
}


.panel-scroll {
    overflow: hidden;
    position: relative;
    width: auto;
    padding-right: 10px !important;
}

.panel-note {
    @include border-radius(0);
    border: none;

    .panel-heading {
        background: url("../images/note_dot.png") repeat-x;
        border-bottom: 0 none;
        padding-top: 30px;
        padding-bottom: 10px;
        top: 0;
        z-index: 3;
        position: relative;

        h3 {
            margin: 0;
        }
    }

    .panel-body {
        background: url("../images/line.png") repeat;
        padding: 0;
        margin: 0 15px;
        line-height: 18px;
    }

    .panel-footer {
        background: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top: none;
        padding: 10px 15px;
        margin-bottom: 0;

        .avatar-note {
            width: 30px;
            height: 30px;
            float: left;
            margin-right: 10px;

            img {
                @include border-radius(2px);
            }
        }

        .author-note {
            display: block;
            line-height: 14px;
        }

        .timestamp {
            color: #999999;
            display: inline-block;
            font-size: $font-size-extra-small;
        }
    }

    .note-options {
        a {
            margin-left: 10px;
            font-size: $font-size-small;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

[class^="partition-"] {
    &:after {
        content: " ";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}
/* ---------------------------------------------------------------------- */
/*  Backdrop
/* ---------------------------------------------------------------------- */
.full-white-backdrop {
    background-color: #FFFFFF;
    display: none;
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1049;
}

.panel.panel-full-screen {
    bottom: 0;
    left: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1048;
    background-color: #FFFFFF;
}

.tmp-tool {
    position: fixed;
    right: 40px;
    top: 20px;
}
/* ---------------------------------------------------------------------- */
/*  Spinner
/* ---------------------------------------------------------------------- */
.csspinner {
    position: relative;
}

.csspinner:before {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255, 0.8);
}

.csspinner:after {
    z-index: 2;
    content: "";
    position: absolute;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

.load1:after {
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    border-radius: 50%;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid $primary;
    -webkit-animation: load1 1.1s infinite linear;
    animation: load1 1.1s infinite linear;
}

@-webkit-keyframes load1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.load2:after {
    width: 30px;
    height: 30px;
    background-color: $primary;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    -webkit-animation: load2 1.2s infinite ease-in-out;
    animation: load2 1.2s infinite ease-in-out;
}

@-webkit-keyframes load2 {
    0% {
        -webkit-transform: perspective(120px);
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}

@keyframes load2 {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
