/* ---------------------------------------------------------------------- */
/*  Popover
/* ---------------------------------------------------------------------- */
.static-popover .popover {
    display: block;
    float: left;
    margin: 20px;
    position: relative;
    width: 260px;
}
