/* ---------------------------------------------------------------------- */
/*  Tooltips
/* ---------------------------------------------------------------------- */
.static-tooltip .tooltip {
    display: inline-block;
    margin: 10px 20px;
    opacity: 1;
    position: relative;
}
