/* ---------------------------------------------------------------------- */
/*  User profile
/* ---------------------------------------------------------------------- */

.user-left {
    border-right: 1px solid #DDDDDD;
    padding-right: 15px;

    @media (max-width: $screen-sm-max) {
        border-right: none;
        padding-right: 0;
        margin-bottom: 15px;
    }
}

.user-left a:hover, .user-left a:focus {
    text-decoration: none;
}

.user-left td .edit-user-info {
    visibility: hidden;
}

.user-left tr:hover .edit-user-info {
    visibility: visible;
}

.user-image {
    position: relative;
    display: inline-block;
}

.user-image img {
    max-width: 150px;
}

.user-image .user-image-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.user-image:hover .user-image-buttons {
    display: block;
}

.user-edit-image-buttons {
    display: block;
}

#projects .progress {
    margin-bottom: 0;
}

.ltwt {
    font-size: 12px;
    line-height: 15px;
    list-style: outside none none;
    margin: 0;
    padding: 0;

    .ltwt_tweet {
        margin-bottom: 30px;
        padding: 0 0 0 45px;
        position: relative;

        &:before {
            content: "\e74b";
            font-family: 'themify';
            font-size: 30px;
            margin-left: -45px;
            position: absolute;
            top: 6px;
            color: $info;
        }

        .ltwt_tweet_text {
            margin-bottom: 5px;
            margin-top: 0;
        }
    }
}
